{{!< default}}
<div id="container">
	<header>
		<h1><span class="glyphicon glyphicon-dashboard"></span> {{title}}{{^title}}Dashee{{/title}}</h1>
	</header>
	<div id="blocks">
		{{#blocks}}
		<!-- block-{{id}} -->
		{{{html}}}
		{{/blocks}}
		{{^blocks}}
		<!-- No Blocks Found -->
		{{/blocks}}
	</div>
</div>