{{!< default}}
<div id="container">
    <header>
        <h1><span class="glyphicon glyphicon-dashboard"></span> {{title}}{{^title}}Dashee{{/title}}</h1>
    </header>
    <div id="blocks">
        <section id="block-5461cad4-4119-4b66-ae41-93e10715b4f9" data-symbol="" class="block dashee-stocks">
            <header>
                <h3>Stocks <span class="glyphicon glyphicon-usd pull-right"></span></h3>
            </header>
            <article>
                <h4 class="symbol">FB</h4>
                <figure class="status">
                    <span class="glyphicon glyphicon-arrow-down down"></span>
                </figure>
                <figcaption class="change">
                    17.2 %
                </figcaption>
            </article>
            <footer>
                
            </footer>
        </section>
    </div>
</div>