{{!< default}}
<div id="container">
    <header>
        <h1><span class="glyphicon glyphicon-dashboard"></span> {{title}}{{^title}}Dashee{{/title}}</h1>
    </header>
    <div id="blocks">
        <section id="block-5461cad4-4119-4b66-ae41-93e10715b4f9" data-symbol="" class="block dashee-stocks">
            <header>
                <h3>Stocks</h3>
            </header>
            <article>
                <figure class="stock-graph"></figure>
            </article>
            <footer>
                
            </footer>
        </section>
    </div>
</div>